* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background: #111;
  color: #fff;
  padding: 40px;
}

.media-icons {
  display: flex !important;
  gap: 10px;
}

.media-icons a {
  color: #fff;
  background: blue;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.link-boxes {
  display: flex !important;
  gap: 30px;
  margin-top: 20px;
}

.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li a {
  color: #bbb;
  text-decoration: none;
}